<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>성적처리</title>
</head>
<body>
    <h1>성적처리 테스트용</h1>
    <form name="test" id="test" type="post">
         {% csrf_token %}
        <div>이름 : <input type="text" name="name" id="name"></div>
        <div>국어 : <input type="text" name="kor" id="kor"></div>
        <div>영어 : <input type="text" name="eng" id="eng"></div>
        <div>수학 : <input type="text" name="mat" id="mat"></div>
        <div><button type="submit">입력완료</button></div>
    </form>

</body>
</html>